<div *ngIf="singleImage">
  <h2 mat-dialog-title>{{ singleImage.author }}</h2>
  <h4 mat-dialog-title>{{ singleImage.camera }}</h4>
  <h4 mat-dialog-title>{{ singleImage.tags }}</h4>

  <mat-dialog-content>
    <div [style.backgroundImage]="'url('+ singleImage.full_picture +')'" class="image-preview-content"></div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button (click)="closeModal()"
            color="primary"
            mat-raised-button>
      Close
    </button>

    <button [cdkCopyToClipboard]="singleImage.full_picture"
            color="warn"
            mat-raised-button>
      Copy image link
    </button>
  </mat-dialog-actions>

</div>
